<h1>LinkedIn results</h1>
<table>
  <tr>
    <th>Select</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Title</th>
    <th>ID</th>
  </tr>

<% @connections.each do |connection| %>
  <tr>
    <td><%= check_box("select", "connection", {}, "yes", "no") %></td>
    <td><%= connection.first_name %></td>
    <td><%= connection.last_name %></td>
    <td><%= connection.headline %></td>
    <td><%= connection.id %></td>
  </tr>
<% end %>
</table>